build/
vcpkg/
include/include_extern/
src/src_extern/
Psych_debug/
lib/
Psych_debug.sln
.vs/
.vscode/
x64/
Resources/Models
Resources/Hulls
Resources/Scenes
Resources/Textures
Screenshots/
documentation/html/
documentation/man/
